{% extends "base.html" %}
{% block title %}Contact Me{% endblock %}
{% block content %}

<style>
    * {
        margin: 0px; margin-bottom: 10px; font-family: Trebuchet MS, Arial, Helvetica; background-color: rgb(26, 26, 29)
    }
    h1 {
        font-size: 2.5vw;
        color: white;
    }
    h2 {
        font-size: 1.6vw;
        color: white;
    }
    h4 {
        font-size: 1.45vw;
        color: white;
    }
    p {
        font-size: 1.36vw;
        color: white;
    }
    #nav1 .contact {
        color: rgb(195, 7, 63);
    }
    #nav1 .contact:hover {
    color: rgb(195, 7, 63);
}
</style>

<h1 id="title">Contact Me</h1>

<p style="font-weight: bold;">Raafi Rahman</p>
<p style="font-weight: bold;">Cell number: <a style="color:rgb(195, 7, 63) ; href='tel:646-334-1690'">1 (646) 334-1690</a></p>
<p style="font-weight: bold;">Email: rahmanraafi00@gmail.com</p>
<p style="font-weight: bold;">Website: <a style="color:rgb(195, 7, 63) ; text-decoration: none; "href="http://raafi101.pythonanywhere.com/" target="_blank">raafi101.pythonanywhere.com</a></p>
<p style="font-weight: bold;">Github: Raafi101 (<a style="color:rgb(195, 7, 63) ; text-decoration: none; "href="https://github.com/Raafi101" target="_blank">github.com/Raafi101</a>)</p>
<p style="font-weight: bold;">Address: Not publicly disclosed</p>

{% endblock %}