{% extends "base.html" %}
{% block title %}PSProjects{% endblock %}
{% block content %}

<style>
    * {
        margin: 0px; margin-bottom: 10px; font-family: Trebuchet MS, Arial, Helvetica; background-color: rgb(26, 26, 29)
    }
    h1 {
        font-size: 2.5vw;
        color: white;
    }
    h2 {
        font-size: 1.6vw;
        color: white;
        margin-top: 3%;
        margin-bottom: 0%;
        color: rgb(195, 7, 63);
        text-decoration: underline;
    }
    h4 {
        font-size: 1.45vw;
        color: white;
        margin-top: 3%;
    }
    p {
        font-size: 1.36vw;
        color: white;
    }
    video {
        border: 5px solid rgb(195, 7, 63);
    }
    #nav1 .accomp {
        color: rgb(195, 7, 63);
    }
    #nav1 .accomp:hover {
    color: rgb(195, 7, 63);
}
</style>

<h1 id="title">Photoshop Projects</h1>

<div id = "SACC" style = "display: inline-block; margin-top: 3%">
    <h2 id="sub">SACC Flyers</h2>
    <image class = "Me" style="float: center; border: 5px solid rgb(78, 78, 80); background-color: rgb(26, 26, 29);margin-right: 0px; margin-top: 2.7vw; width: 30%; height: 30%;" src="{{ url_for('static', filename='images/OpenHouse.png')}}"></image>
    <image class = "Me" style="float: center; border: 5px solid rgb(78, 78, 80); background-color: rgb(26, 26, 29);margin-right: 0px; margin-top: 2.7vw; width: 30%; height: 30%;" src="{{ url_for('static', filename='images/ChaiTime.png')}}"></image>
    <image class = "Me" style="float: center; border: 5px solid rgb(78, 78, 80); background-color: rgb(26, 26, 29);margin-right: 0px; margin-top: 2.7vw; width: 30%; height: 30%;" src="{{ url_for('static', filename='images/DanceWorkshop.png')}}"></image>
</div>

<div id = "Website" style = "display: inline-block; margin-top: 3%">
    <h2 id="sub">Website Images</h2>
    <image class = "Me" style="float: center; border: 5px solid rgb(78, 78, 80); background-color: rgb(26, 26, 29);margin-right: 0px; margin-top: 2.7vw; width: 17%; height: 17%;" src="{{ url_for('static', filename='images/rSquaredLogoFinal.png')}}"></image>
    <image class = "Me" style="float: center; border: 5px solid rgb(78, 78, 80); background-color: rgb(26, 26, 29);margin-right: 0px; margin-top: 2.7vw; width: 17%; height: 17%;" src="{{ url_for('static', filename='images/codingLogoPic.png')}}"></image>
    <image class = "Me" style="float: center; border: 5px solid rgb(78, 78, 80); background-color: rgb(26, 26, 29);margin-right: 0px; margin-top: 2.7vw; width: 17%; height: 17%;" src="{{ url_for('static', filename='images/codingLogo2.png')}}"></image>
    <image class = "Me" style="float: center; border: 5px solid rgb(78, 78, 80); background-color: rgb(26, 26, 29);margin-right: 0px; margin-top: 2.7vw; width: 17%; height: 17%;" src="{{ url_for('static', filename='images/CADLogo.png')}}"></image>
    <image class = "Me" style="float: center; border: 5px solid rgb(78, 78, 80); background-color: rgb(26, 26, 29);margin-right: 0px; margin-top: 2.7vw; width: 17%; height: 17%;" src="{{ url_for('static', filename='images/guitarLogo.png')}}"></image>
</div>

{% endblock %}